* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A1A1A;
    padding-bottom: 2000px;
}

@font-face {
    font-family: "Suisse Intl";
    src: url("fonts/fonnts.com-Suisse_Intl_Mono.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Suisse Intl";
    src: url("fonts/fonnts.com-Suisse_Intl_Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Suisse Intl";
    src: url("fonts/fonnts.com-Suisse_Intl_Medium.ttf");
    font-weight: 500;
}

.wp-block-animation-v3 {
    font-family: "Suisse Intl";
    color: #FFFFFF;
    overflow: hidden;
}

.wp-block-animation-v3__heading {
    max-width: 586px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 170px;
    min-height: 100vh;
    gap: 24px;
}

.wp-block-animation-v3__heading-text {
    font-family: "Suisse Intl";
    font-weight: 500;
    text-transform: uppercase;
    color: #F54500;
}

.wp-block-animation-v3__heading-title {
    font-family: "Suisse Intl";
    font-weight: 400;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #FFFFFF;
}



.wp-block-animation-v3__wrapper {
    position: relative;
    max-width: 1920px;
    padding: 0px 80px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.wp-block-animation-v3__info-item {}

.wp-block-animation-v3__info-subtitle {
    font-family: "Suisse Intl";
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.wp-block-animation-v3__info-title {
    margin-bottom: 64px;
    font-weight: 400;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.wp-block-animation-v3__info-text {
    font-weight: 400;
    font-family: "Suisse Intl";
    font-size: 24px;
    letter-spacing: -0.02em;
}

.wp-block-animation-v3__info-blocks {
    display: flex;
    align-items: center;
    max-width: 559px;
    width: 100%;
}

.wp-block-animation-v3__info-area {
    position: relative;
    width: 100%;
}

.wp-block-animation-v3__info-item {
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
}

.wp-block-animation-v3__info-item {
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    opacity: 0;
    top: 500px;
}

.time-area .time {
    display: flex;
}

.time-area-overflow {
    overflow: hidden;
    height: 94px;
}

.wp-block-animation-v3 .time {
    position: relative;
    overflow: hidden;
    display: flex;
    height: 104px;
    gap: 0.4rem;
}

.wp-block-animation-v3 .time>div {
    display: flex;
    width: 58px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    line-height: 2rem;
    padding-top: 2px;
}

.wp-block-animation-v3 .time>div>div {
    height: 104px;
    font-size: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-shrink: 0;
    font-weight: 300;

    @media (max-width: 1023px) {
        height: 54px;
        font-size: 54px;
    }
}


/* images */

.wp-block-animation-v3__images {
    position: relative;
    margin-top: 70px;
    height: calc(100vh - 140px);
    max-width: 710px;
    width: 100%;
    overflow: hidden;
}

.wp-block-animation-v3__images-block {
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
    bottom: 0px;
    height: 0%;
}

.wp-block-animation-v3__images-block img {
    position: absolute;
    bottom: 0px;
    height: calc(100vh - 140px);
    display: block;
    width: 100%;
    object-fit: cover;
}

/* Оновлений blink animation */
@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.wp-block-animation-v3 .time>div>div,
.wp-block-animation-v3 .time .time-between-num {
    transition: color 0.3s ease;
}

.wp-block-animation-v3 .time-area.finished .time>div>div,
.wp-block-animation-v3 .time-area.finished .time .time-between-num {
    color: #f54500 !important;
    animation: none !important;
}

.wp-block-animation-v3 .time .time-between-num {
    height: 90px;
    width: 30px;
    line-height: 100%;
    justify-content: center;
    color: white;
}

.wp-block-animation-v3__time-area {
    width: 280px;
    height: 100%;
    flex-shrink: 0;
}

.wp-block-animation-v3__time {
    position: relative;
    right: 0px;
    font-family: "Suisse Intl";
    font-weight: 400;
    font-size: 103px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width:1024px) {
    .wp-block-animation-v3__info-blocks {
        position: absolute;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .wp-block-animation-v3__images {
        position: absolute;
        z-index: -1;
        height: 100vh;
        margin-top: 0px;
        max-width: 100%;
    }

    .wp-block-animation-v3__wrapper{
        padding: 0px;
    }

    .wp-block-animation-v3__time-area{
        height: 100px;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .time-area-overflow{
        height: 52px;
    }

    .wp-block-animation-v3 .time{
        height: 54px;
    }
}